# Spring Boot
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Gradle Wrapper (Unix)
gradlew

# Logs
logs/
*.log
ivy-*.log

# Database files
*.mv.db
*.trace.db
*.db
*.sqlite
*.sqlite3


# Documentation and temporary files
src/main/resources/static/docs/

# IDE files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.code-workspace

# JVM crash logs
hs_err_pid*
replay_pid*
